html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

span {
    display: block;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header-border {
    border-bottom: 1px solid #EFEEF3;
}

.logo-text {
    font-family: QuicksandMedium, serif;
    font-size: 3.5rem;
    padding: 22px 0 23px 13px;
}

.logo-text-white {
    color: white;
}

.footer-bg {
    background-color: #16133D;
}

.main {
    padding: 100px 0;
}

.services {
    color: #7690A8;
    font-family: RobotoRegular, serif;
    font-size: 1rem;
}

.services-title {
    font-family: NunitoSans, serif;
    font-size: 4rem;
    padding: 15px 0 40px 0;
}

.services-cards {
    justify-content: space-between;
    gap: 30px;
}

.card {
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    padding: 40px;
}

.card:hover {
    border: 1px solid #3DB370;
}

.card:hover .card-svg {
    fill: #3DB370;
}

.card-title {
    font-family: RobotoRegular, serif;
    font-size: 2.4rem;
    padding-top: 30px;
}

.card-text {
    font-family: RobotoRegular, serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding-bottom: 30px;
}

.card-link {
    color: #3DB370;
    font-family: RobotoBold, serif;
    font-size: 1.6rem;
    text-decoration: none;
}

.main-svg-box {
    width: 64px;
    height: 64px;
    padding: 14px 13px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

.main-svg-box-2 {
    padding-left: 11px;
}

.main-svg-box-3 {
    padding-left: 19px;
}

.footer-svg-box {
    justify-content: center;
    background-color: #EFEEF3;
    border-radius: 5px;
    width: 38px;
    height: 38px;
    margin: 0 10px 40px 0;
}

.instagram, .github, .dribbble, .twitter {
    width: 20px;
}

.facebook {
    width: 10px;
}
.footer-svg-box:hover {
    fill: #3DB370;
}

